{% extends 'task/navigations/base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<div class="col-sm-12 col-md-8 container mt-4">
<h1>Edit Project</h1>
<hr>
<form method="POST" action=".">
    {% csrf_token %}
    <div class="mb-3">
    <label for="id_name" class="form-label"></label>
    {{ form.name }}
    </div>
    <div class="mb-3">
    <label for="id_description" class="form-label"></label>
    {{ form.description }}
    </div>
    <div class="mb-3">
        <label for="id_description" class="form-label"></label>
        {{ form.due_date }}
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
</div>
{% endblock %}
